fieldset {
    border: none;
}

input {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dog-pictures {
    border: 1px black solid;
    padding: 10px;
}

.hidden {
    display: none;
}

.dog-picture {
    width: 200px;
}